:root
{
  background-color: aqua;
}

img
{
  display: block;
  margin: auto; 
}

h1
{
  font-size: 45px;
  color: purple;
  texti-align: center;
}

h2, h3, h4, h5, h6
{
  color: blueviolet;
}

a
{
  color: indigo;
}

.likes
{
  color: green;
  font-size: 30px;
}
