:root
{
  background-color: aqua;
}

img
{
  display: block;
  margin: auto; 
}

h1
{
  font-size: 45px;
  color: purple;
  texti-align: center;
}

h2, h5, h6
{
  color: blueviolet;
}

a
{
  color: indigo;
}

.likes
{
  color: rgb(50,50,50);
  font-size: 30px;
}

li
{
color: pink;
}
p
{
   color: salmon;
  font-size: 35px;
}

h3
{
  color: tomato;
  font-size: 53px;
}

h4
{
  color: gold;
  font-size: 62px;
}
